#main_contact{
    --width_main: 70%;
    margin: auto;
    margin-top: 102px;
    text-align: center;
    background-color: rgb(175, 204, 231);
    width: var(--width_main); 
    border-radius: 5px;
    
}

.table_contact{
    margin-top: 10px;
    text-align: left;
}

.table_body{
    margin-left: calc(var(--width_main)/2) ;
    
}