.bars_nav {
    cursor: pointer;
    color: green;
    font-size: 2.5rem;
    padding: 4px 10px;
    display: none;
    height: 30px;
    width: 30px;

}

.bg_bars {
    
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: Pw linear 0.4s;
}

.nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 300px;
    max-width: 100%;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
  
}

.nav_bars_input{
    display: none;
}

.nav_bars_input:checked ~ .bg_bars{
    display: block;
}

.nav_bars_input:checked ~ .nav_mobile{
    transform: translateX(0);
}

.nav_list {
    margin-top: 24px;
}

.times_x {
    cursor: pointer;
    font-size: 2.0rem;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav_list > a {
    margin-left: 10px;
    display: block;
    padding: 8px 0px;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}
.search_nav{
    display: none;
}

#search_1{

    size:20;
    font-size: 30px;
    margin-top: -100px;
}

.icon_footer_rps{
    display: none;
}

/*Ipad dọc(768 x 1024)*/
@media only screen and (min-width: 740px) and (max-width:1023px) {
    #search_1{
        border-radius: 5px;
    }

    .bars_nav {
        display: block;
        position: absolute;
        left:0;
    }

    .nav_mobile {
        display: block;
    }

    .nav {
        display: none;
    }

    #arcler{
        display: block;
        width: 100%;
        margin: 0;
    }
    .slideshow{
        width: 100%;
    }

    .search_nav{
        display: block;
        text-align: center;
        margin: auto;
        color: green;
    }
    #header{
        height: 60px;
    }

    #table_phone,
    #table_menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .title_menu {
        font-size: 10px;

    }
    .title_up{
        font-size: 8px;
    }

   

}

/*Iphone(480 x 640)*/
@media only screen and (max-width: 739px){
    #search_1{
        size:10px;
        font-size: 8px;
        margin-top: -150px;
    }
    .bars_nav {
        display: block;
        position: absolute;
        left:0;
    }

    .nav_mobile {
        display: block;
    }

    .nav {
        display: none;
    }

    #arcler{
        display: block;
        width: 100%;
        margin: 0;
    }
    .slideshow{
        width: 100%;
    }

    .search_nav{
        display: block;
        text-align: center;
        margin: auto;
        color: green;
    }
    #header{
        height: 60px;
    }

    #table_phone,
    #table_menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .title_menu {
        font-size: 10px;

    }
    .title_up{
        font-size: 8px;
    }

    #footer_form{
        display: flex;
        flex-direction: column-reverse;
        font-size: 10px;
    }
    #footer_form td{
        padding: 7px 0px ;
    }

    .icon_footer_rps{
        display: inline-block;
        height: 30px;
        width: 30px;
        padding-top: 5px;
        cursor: pointer;
    }
    .icon_footer{
        display: none;
    }
    .footer_logo {
        width: 80px;
        height: 40px;
    }

}

@keyframes Pw {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}