.bars_nav {
    cursor: pointer;
    color: green;
    font-size: 2.5rem;
    padding: 4px 10px;
    display: none;
    height: 30px;
    width: 30px;

}

.bg_bars {
    
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: Pw linear 0.4s;
}

.nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 300px;
    max-width: 100%;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
  
}

.nav_bars_input{
    display: none;
}

.nav_bars_input:checked ~ .bg_bars{
    display: block;
}

.nav_bars_input:checked ~ .nav_mobile{
    transform: translateX(0);
}

.nav_list {
    margin-top: 24px;
}

.times_x {
    cursor: pointer;
    font-size: 2.0rem;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav_list > a {
    margin-left: 10px;
    display: block;
    padding: 8px 0px;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

@media (max-width: 1023px) {
    .bars_nav {
        display: block;

    }

    .nav_mobile {
        display: block;
    }

    .nav {
        display: none;
    }

    #arcler{
        display: block;
        width: 100%;
        margin: 0;
    }
    .slideshow{
        width: 100%;
    }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px){

    

}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px){

}



@keyframes Pw {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}