

#main_usr{
    margin: auto;
    margin-top: 51px;
    text-align: center;
    background-color: rgb(175, 204, 231);
    width: 50%; 
    border-radius: 5px;
}

.download_UD_QR{
    width: 100px;
    height: 100px;
}

.download_UD{
    width: 100px;
}


.table_user table {
    margin: auto;
    text-align: center;
    margin-top: 102px;
}

.icon_user{
    height: 35px;
    width: 30px;
    padding-top: 5px;
    cursor: pointer;
}

.table_user table tr .td_user{
    padding-bottom: 10px;
}

































